html,
body {
    overscroll-behavior: none;
}

html{
    background-color: #fafafa;
}

.page {
    &__content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            margin: 0;
            padding: 0;
        }
    }
}

// for iPhone X landscape mode
// @media screen and (orientation: landscape) {
//     ons-page {
//         padding-left: 44px;
//         padding-right: 44px;
//     }
// }

#top-toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
}

/* 地図 */
#map {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.map {
    text-align: center;
    margin: 0;
    padding: 5px;
    // max-width: none;
    -webkit-overflow-scrolling: touch;
    // overflow: scroll;

    .float-box {
        margin: 5px 0 0 0;
        display: -webkit-inline-flex;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        >* {
            display: inline;

        }
    }

    img {
        border-radius: 200px;
        width: 80px;
        height: 80px;
        margin-right: 45px;
    }

    h1,
    p {
        margin: 0 0 0 0;
        padding: 0;
    }

    ons-button {
        background-color: #F3C53B;
        border-radius: 25px;
        width: 90%;
        font-size: 14px;
        font-weight: bold;
        padding: 0;
        margin: 15px 0 0 0;
    }
}

.gm {

    // Full display is not allowed
    &-control-active,
    &-fullscreen-control,
    &-style-mtc {
        display: none;
    }

    // 地形図、航空
    &noprint {
        display: block;
    }

    &-svpc {
        display: none !important;
    }

    &-style,
    &-iw {
        font-size: 11px;

        /* infowindowのCSS */
        &-iw {
            width: 250px !important;
            top: 15px !important;
            left: 0 !important;
            background-color: #fff;
            border-radius: 2px 2px 0 0;
        }
    }

    &gm-style-iw-t {
        display: none !important;
        position: unset !important;
    }

}

/* PC対応 */
@media only screen and (min-width: 1200px) {
    .gm-style-iw {
        width: 300px !important;
    }
}

ons- {

    &fab {
        background-color: #4F81C7 !important;
        color: #fff;
    }

    &list {
        &-item {
            color: #444;
        }
    }

    &button,
    &speed-dial,
    &speed-dial-item {
        cursor: pointer;
    }
}

.gm-style .gm-style-iw-t::after {
    display: none;
    overflow: hidden;
}

.zmdi-my-location:before {
    color: #ffffff;
}

.component {
    &-header {
    height: 30vh;
    width: 100%;
    background-color: #18D4DB;
        &-text{
        padding: 8vh 0 0 0!important;
        font-size: 18px!important;
        color: #fff;
        text-align: center;
        font-weight: bold !important;
        }
    }
    &-white{
        width: 90% !important;
        height: 60vh;
        margin: -15vh 5% 0 5%!important;
        background-color: #fff;
        border-radius: 8px;

        &-text{
            margin: 0 8% !important;
            padding: 4vh 0 0 0 !important;
            width: 84% !important;
            text-align: left !important;
        }
        ons-input{
            width: 84%;
            margin: 1vh 8% 0 8%;
            border-radius: 8px;
        }
        ons-button{
            background: #F3C53B;
            color: #fff;
            width: 84%;
            border-radius: 24px;
            margin: 3vh 8% 0 8%;
            text-align: center;
        }

        ons-select{
            width: 84%;
            margin: 1vh 8% 0 8%;
        }
    }
}

#register.html .page__background,
#Register .page__background {
    background-color: #18D4DB!important;
}